.loginPanel{
    position: absolute;
    width: 366px;
    height: 230px;
    top:calc(45% - 115px);
    left: 75%;
    margin-left: -240px;
    border-radius: 6px;
    border:2px solid #21A9E5;
    background-color:rgba(1,98,177,0.9);
}

.loginBackground{
    position: absolute;
    width: 100%;
    height: 100%;
    margin:0px;top: 0px;
}

.loginButton{
    width: 80%;
    height: 32px;
    margin: 1px 0px 0px 10%;
    padding: 0px 4px 0px 4px;
    line-height: 32px;
    font-size: 16px;
    color: #ffffff;
    background-color: rgba(48,202,254,0.5);
    border-radius: 6px;
    border:2px solid #21A9E5;
}

.loginParam{
    float: left;
    width: 118px;
    height: 100%;
    line-height: 40px;
    font-size: 13px;
    font-weight: bold;
}

.loginParamInput{
    width: 80%;
    height: 30px;
    margin: 1px 0px 0px 10%;
    background-color: #012E4D;
    color:RGB(255,255,255);
    padding-left: 8px;
    font-family: "微软雅黑";
    border-radius: 6px;
    border:2px solid #21A9E5;
}

.loginLink{
    color: rgb(33,140,245);
    font-size: 12px;
    cursor: pointer;
}

.loginLink:hover{
    text-decoration:underline;
}

div.menuLink{
    width: 100%;
    height: 36px;
    line-height: 32px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-top: 0px;
    cursor: pointer;
    font-weight: bold;
	text-shadow:rgb(0,14,103) 1px 0 0,rgb(0,14,103) 0 1px 0,rgb(0,14,103) -1px 0 0,rgb(0,14,103) 0 -1px 0;
}

#img_areaselector{
    margin-left: -30px;
    cursor: pointer;
}

#img_areaselector:hover{
}

.divDepartSelector{
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #aaaaaa;
    top:calc(45% - 195px);
    left: 75%;
    margin-left: 145px;
    width: 300px;
    padding: 5px;
    border-radius: 6px;
    border:2px solid #21A9E5;
}

.divDepartSelector_city span{
    font-size: 14px;
    font-weight: bold;
    color: #3d6dcc;
    cursor: pointer;
}

.divDepartSelector_county span{
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
}

.loginTip{
    color: white;
    font-size: 15px;
    display: none;
}

.loginInfo{
    position: absolute;
    height: 20px;
    top: calc(45% + 35px);
    left: calc(75% - 24px);
    padding: 5px;
    display:none;
}