/* 气象要素标识框样式 例：短强 */
.el-mark {
  display: inline-table;
  margin-left: 10px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;

  .icon-wrap {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 3px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    background: white;
  }

  &:nth-child(2) .icon-wrap .fa { color: #3d6dcc; }
  &:nth-child(3) .icon-wrap .fa { color: #00FFFF; }
  &:nth-child(4) .icon-wrap .fa { color: #0000FF; }
  &:nth-child(5) .icon-wrap .fa { color: #660099; }
}

#alarmDataTable {
  width: 100%;
  border-collapse: collapse;

  thead { border-bottom: 1px solid #5e5e5e; }
  tr { border-bottom: 1px solid #5e5e5e; }
  tr:last-child { border: none; }

  th,td {
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
  }
}

.alert-grid.handsontable .changeType { display: none; }


.opt-panel {
  box-sizing: border-box;
  padding: 0 10px;

  .opt-panel-label {
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    color: white;
    font-size: 1.25em;
  }

  .opt-panel-content label { width: 25%; cursor: pointer; }
  .opt-panel-content input[type=checkbox] { border: none; }
  
  &.opt-panel-content-info {
    position: absolute;
    top: 500px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 15px 10px;
    padding: 0;
    border: 1px solid rgb(49, 202, 255);
    overflow: auto;

    .alarm-info-item {
      box-sizing: border-box;
      height: 50px;
      padding: 2px;

      img {
        padding: 2px;
        margin: 0 8px 0 0;
        width: 48px;
        height: 48px;
        float: left;
      }

      h5 {
        color: white;
        font-size: 14px;
        clear: both;
      }

      h5 strong {
        display: block;
        padding: 2px;
        color: #a0a0a0;
        font-size: 12px;
        font-weight: normal;
      }
    }
  }
}

#alarmCountTable {
  position: absolute;
  left: 50%;
  bottom: 40px;
  z-index: 99999;
  padding: 10px 20px;
  margin-left: -((60px * 15 + 20px * 2) / 2) - (340px + 58px) / 4;
  background: rgba(0, 0, 0, .55);
  color: white;

  td {
    width: 60px;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    text-align: center;
  }

  /*thead td, { text-align: center; }
  tbody td { text-align: center; }*/
}

