/**
 * 为方便形状绘制而构建的图形样式.
 * @Author Sean
 * @Date 2017-6-5 14:14:02
 */

@mixin sizes($w, $h) {
  width: $w;
  height: $h;
}

.shape {
  display: inline-table;

  &.shape-circle {
    border-radius: 50%;

    &.size-10 { @include sizes(10px, 10px); }
    &.size-12 { @include sizes(12px, 12px); }
    &.size-14 { @include sizes(14px, 14px); }
  }
}